.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 750px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 #99999925;
	padding: 2.75rem;
}

.card-header {
    text-align: center;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
  }